@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan";
  src: url("./Fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ISans";
  src: url("./Fonts/IranianSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Samim";
  src: url("./Fonts/Samim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Numberland";
  src: url("./Fonts/NumberLandFontRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Numberland";
  src: url("./Fonts/NumberLandFontMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Numberland";
  src: url("./Fonts/NumberLandFontBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .menu-Item {
    position: relative;
    padding: 0.5rem;
    padding-top: 10px;
  }

  .menu-Item:hover {
    @apply animate-menuHoverEffect;
  }

  @media (max-width: 1024px) {
    .menu-Item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .underline-effect {
    background-image: linear-gradient(to right, #ffb03b 0%, #eba132 100%);
    background-size: 0 0.3em, 0 0.3em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  .underline-effect:hover {
    background-size: 100% 0.2em, 0 0.2em;
  }

  /* .arrow-top: */
  .arrow-top::before {
    content: "";
    width: 18px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: 15px;
    clip-path: polygon(50% 16%, 0% 100%, 100% 100%);
    background-color: inherit;
    box-shadow: 0px 0px 3px 2px rgba(0, 152, 209, 0.05);
  }

  .arrow-right::before {
    content: "";
    width: 12px;
    transform: rotate(90deg);
    height: 12px;
    position: absolute;
    top: 20px;
    right: -11px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(196, 181, 181, 0.404) 100%
    );
    clip-path: polygon(50% 16%, 0% 100%, 100% 100%);
  }

  .submenu-titles {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 4px;
  }

  .menu-svg {
    width: 9px;
    opacity: 0.5;
    margin-bottom: 2px;
    @apply group-hover:opacity-100;
  }

  .button-effect::before {
    content: "";
    width: 20%;
    height: 100%;
    background-color: inherit;
    filter: brightness(0.9);
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: all 0.6s;
    border-radius: 100%;
  }

  .button-effect::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10rem;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: inherit;
  }

  .button-effect:hover::before {
    transform: scale(20, 1.5);
  }

  #bars-icon span {
    width: 1rem;
    height: 2px;
    display: inline-block;
    @apply bg-primary;
    border-radius: 10px;
  }

}

@layer utilities {
  .menu-transition {
    transition: right 0.5s, opacity 0.05s; /* Transition for top and right properties */
  }

  .menu-open {
    visibility: visible;
    opacity: 1;
  }

  .menu-close {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

}

@layer base {
  
  body {
    @apply  flex justify-center;
  }
  #root {
    @apply w-full ;
  }
}
